<main>
  <section>
    <div class="recipe__header">
      <h2>Ingredientes</h2>
      <h1 class="title recipe-title"></h1>
    </div>

    <form class="container-fluid data__cointainer">
      <fieldset class="row"></fieldset>
    </form>

    <section class="container-fluid">
      <div>
        <div class="row">
          <p>Item:</p>
          <p></p>
        </div>
        <div class="row">
          <p>Subtotal</p>
          <p></p>
        </div>  
        <div class="row">
          <p class="col-10">
            Gastos de envío:
          </p>
          <p class="shipping__cost shipping-js col-2"></p>
        </div>
        <div class="row">
          <p>Total</p>
          <p class="total__price"></p>
        </div>
      </div>
    </section>
    <button>Comprar ingredientes</button>
  </section>
</main>
